// Inter
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url("~inter/variable/InterVariable.woff2") format("woff2");
}
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    src: url("~inter/variable/InterVariable-Italic.woff2") format("woff2");
}

@import "~inter/inter-variable.css";
@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/brands.css";
